
@{
    ViewBag.Title = "AbrirArchivo";
}



<div class="form-group">
    <label for="sectionEdit">Archivo:  @ViewBag.Archivo </label>
    <textarea class="form-control" id="SectionEdit" rows="15" size="40"></textarea>
</div>
<div class="form-group">
    <label for="SectionLog">Logs:</label>
    <textarea class="form-control" id="SectionLog" rows="3"></textarea>
</div>