
@{
    ViewBag.Title = "LoadFile";
}

<h2>LoadFile</h2>


<h2 class="text-danger">@ViewBag.error</h2>
<h2 class="text-warning">@ViewBag.confirmar</h2>
<form method="post" EncType="multipart/form-data">

    <div class="form-group">
        <label for="formUp">Buscar Archivo</label>
        <!-- <input type="file" class="form-control-file" id="formUpFile">-->
        <INPUT id="oFile" type="file" runat="server" NAME="UpFile">
        <button type="submit" class="btn btn-primary">
            Cargar Archivo
            <!-- @Html.ActionLink("Subir", "AbrirArchivo", "Home", new { area = "" }, new { @class = "nav-link" })-->
        </button>

    </div>
</form>

