
@{
    
}


<!-- Button trigger modal -->


<div class="form-group">
    <label for="sectionEdit">Example textarea</label>
    <textarea class="form-control" id="SectionEdit" rows="3"></textarea>
</div>
<div class="form-group">
    <label for="SectionLog">Example textarea</label>
    <textarea class="form-control" id="SectionLog" rows="3"></textarea>
</div>